<div class="container">
<div class="row">
        <div class="col-md-3">
                <h4>
                    COUNTRY
                </h4>
                <ul class="check">
                    <li class="filter">
                        <label class="vertical-filter-labels">
                            <input type="checkbox" class="pointer"/>&nbsp;India
                        </label>
                    </li>
                    <li class="filter">
                            <label class="vertical-filter-labels">
                                    <input type="checkbox" class="pointer" />&nbsp;Australia
                            </label>
                    </li>
                    <li class="filter">
                            <label class="vertical-filter-labels">
                                    <input type="checkbox" class="pointer"/>&nbsp;England
                            </label>
                    </li>
                    <li class="filter">
                            <label class="vertical-filter-labels">
                                    <input type="checkbox" class="pointer"/>&nbsp;NewZealand
                            </label>
                    </li>
                </ul>
                   
                       
            </div>
            
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Displaying Available Bids</h4>
                    </div>
                    <div class="col-md-6">
                        <span style="float: right;">Sort:
                            <a href="#">Popular | </a>
                            <a href="#">Name | </a>
                            <a href="#">Height | </a>
                            <a href="#">Rank </a>
                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top cardheight" src="../../assets/cricket-clipart-free-10.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">MS Dhoni</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Edit Card</a>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top cardheight" src="../../assets/cricket-clipart-free-10.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Andrew Flintoff</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Edit Card</a>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top cardheight" src="../../assets/cricket-clipart-free-10.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Daniel Vettori</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Edit Card</a>
                                </div>
                            </div>
                         </div> 
                         <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top cardheight" src="../../assets/cricket-clipart-free-10.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Eoin Morgan</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Edit Card</a>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top cardheight" src="../../assets/cricket-clipart-free-10.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Glen Maxwell</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Edit Card</a>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top cardheight" src="../../assets/cricket-clipart-free-10.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Suresh Raina</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Edit Card</a>
                                    </div>
                                </div>
                        </div>      
                </div>
            </div>  

</div>

<div class="row">

</div>


</div>